@use 'custom-theme' as *;

.skills-container {
  border-bottom: 1px solid $secondary-three;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  & h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $secondary-one;
  }
}
