
<div class="container">
  <div class="row">

    <div class="col-sm profile-picture">
      <img src="assets/img/jhonatan-profile.jpg" alt="profile picture">
    </div>

    <div class="col-sm profile-description">
      <span>Frontend Developer</span>
      <h1>Jhonatan Costa</h1>
      <p>
        Desenvolvedor frontend especializado em Angular, com mais de 7 anos de
        experiência em interfaces intuitivas. Inglês avançado, mais de 2 anos trabalhando
        com clientes internacionais e 4 anos de cursos na Wizard. Proficiente em Scrum e
        Kanban, com foco em colaboração e entregas eficientes. Experiência em Angular,
        Node.js, React, Vue, Firebase, HTML, CSS, JavaScript e TypeScript. Graduação em
        Análise de Sistemas, pós-graduação em Inteligência Artificial e francês básico.
      </p>
      <app-social-icons></app-social-icons>
    </div>

  </div>
</div>
