<p class="about-text">
  Ampla experiência como Frontend, com um destaque em Angular, proficiência em TypeScript, Firebase e outras tecnologias,
  estou apto para desenvolver projetos com extrema qualidade e performance. Tenho sólida experiência em metodologias ágeis,
  como Scrum e Kanban, e sou familiarizado com ferramentas como Jira, Trello e Linear.
  <br/>
  <br/>
  Minha formação em Análise e Desenvolvimento de Sistemas, juntamente com a pós-graduação em Inteligência Artificial,
  realçou minhas habilidades em trabalho em equipe, planejamento de projetos e comunicação, além de proporcionar domínio
  em diversas stacks de frontend e backend.
  <br/>
  <br/>
  Possuo proficiência em inglês avançado e conhecimentos básicos de francês. Trabalhei em projetos internacionais e estou
  habituado a interações diárias em inglês via Slack, documentos e e-mails. Dou grande importância à organização, código,
  gerenciamento de tarefas e comunicação.
  <br/>
  <br/>
  Tenho também conhecimentos de backend, principalmente em Node.js, além de noções de C# e Java, e experiência com Git,
  CI/CD e DevOps. Gosto de planejar e entregar meu trabalho com excelência e atenção aos detalhes.
</p>
