<p class="about-text">
  Extensive experience as a Frontend developer, with a focus on Angular, proficiency in TypeScript, Firebase, and other technologies.
  I am capable of developing projects with exceptional quality and performance. I have solid experience in agile methodologies,
  such as Scrum and Kanban, and am familiar with tools like Jira, Trello, and Linear.
  <br/>
  <br/>
  My degree in Systems Analysis and Development, along with a postgraduate degree in Artificial Intelligence,
  enhanced my skills in teamwork, project planning, and communication, in addition to providing proficiency
  in various frontend and backend stacks.
  <br/>
  <br/>
  I am proficient in advanced English and have basic knowledge of French. I have worked on international projects and am
  accustomed to daily interactions in English through Slack, documents, and emails. I place great importance on organization, code,
  task management, and communication.
  <br/>
  <br/>
  I also have knowledge of backend development, mainly in Node.js, as well as some experience with C# and Java, and experience with Git,
  CI/CD, and DevOps. I enjoy planning and delivering my work with excellence and attention to detail.
</p>
