@use 'custom-theme' as *;

.education-container {
  padding: 2rem 0;
  border-bottom: 1px solid $secondary-two;

  & p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $secondary-one;
  }

  & small, span {
    color: $secondary-two;
    letter-spacing: 1px;
    font-size: 0.7rem;
  }
}

.certificate-container {
  margin-top: 1rem;
}

.certificate-container img {
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}
