
<div class="row education-container">
  <div class="col-sm">
    <p>Inglês</p>
    <small>Wizard escola de idiomas</small>
  </div>

  <div class="col-sm-3">
    <span><i>Avançado</i></span>
  </div>

  <div class="row certificate-container">
    <div class="col-sm-6">
      <img src="assets/img/languages/english-one.jpg" alt="" (click)="openInNewTab('assets/img/languages/english-one.jpg')"/>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/languages/english-two.jpg" alt="" (click)="openInNewTab('assets/img/languages/english-two.jpg')"/>
    </div>
  </div>
</div>

<div class="row education-container">
  <div class="col-sm">
    <p>Francês</p>
    <small>Wizard escola de idiomas</small>
  </div>

  <div class="col-sm-3">
    <span><i>Básico</i></span>
  </div>

  <div class="row certificate-container">
    <div class="col-sm-6">
      <img src="assets/img/languages/french.jpg" alt="" (click)="openInNewTab('assets/img/languages/french.jpg')"/>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>
