<div class="row education-container">
  <div class="col-sm">
    <p>English</p>
    <small>Wizard Language School</small>
  </div>

  <div class="col-sm-3">
    <span><i>Advanced</i></span>
  </div>

  <div class="row certificate-container">
    <div class="col-sm-6">
      <img src="assets/img/languages/english-one.jpg" alt="" (click)="utilService.openInNewTab('assets/img/languages/english-one.jpg')"/>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/languages/english-two.jpg" alt="" (click)="utilService.openInNewTab('assets/img/languages/english-two.jpg')"/>
    </div>
  </div>
</div>

<div class="row education-container">
  <div class="col-sm">
    <p>French</p>
    <small>Wizard Language School</small>
  </div>

  <div class="col-sm-3">
    <span><i>Basic</i></span>
  </div>

  <div class="row certificate-container">
    <div class="col-sm-6">
      <img src="assets/img/languages/french.jpg" alt="" (click)="utilService.openInNewTab('assets/img/languages/french.jpg')"/>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>
