
<nav class="navbar navbar-expand-lg">
  <div class="container">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavBar"
      aria-controls="mainNavBar"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <app-hamburger></app-hamburger>
    </button>

    <div class="row collapse navbar-collapse" id="mainNavBar">
      <div class="navbar-nav">
        <a class="nav-link hvr-float" [routerLink]="['/home']" routerLinkActive="active-link"><span class="nav-title-name">JHONATAN COSTA</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/home']" routerLinkActive="active-link"><span>HOME</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/about']" routerLinkActive="active-link"><span>ABOUT</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/projects']" routerLinkActive="active-link"><span>PROJECTS</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/testimonials']" routerLinkActive="active-link"><span>TESTIMONIALS</span></a>
      </div>
    </div>

  </div>
</nav>
