
<nav class="navbar navbar-expand-lg">
  <div class="container">

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavBar"
      aria-controls="mainNavBar"
      aria-expanded="false"
      aria-label="Toggle navigation">
        <app-hamburger></app-hamburger>
    </button>

    <div class="row collapse navbar-collapse" id="mainNavBar">
      <div class="navbar-nav">
        <a class="nav-link hvr-float" [routerLink]="['/inicio']" routerLinkActive="active-link"><span class="nav-title-name">JHONATAN COSTA</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/inicio']" routerLinkActive="active-link"><span>INÍCIO</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/sobre']" routerLinkActive="active-link"><span>SOBRE</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/projetos']" routerLinkActive="active-link"><span>PROJETOS</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/testemunhos']" routerLinkActive="active-link"><span>TESTEMUNHOS</span></a>
        <a class="nav-link hvr-float" [routerLink]="['/contato']" routerLinkActive="active-link"><span>CONTATO</span></a>
      </div>
    </div>

  </div>
</nav>
