
<div class="container">
  <div class="row justify-content-center">

    <div class="col-sm text-center">
      <app-simple-button [buttonText]="'About'" (onClick)="setActiveButton('About')" [isActive]="activeButton === 'About'"></app-simple-button>
      <app-simple-button [buttonText]="'Education'" (onClick)="setActiveButton('Education')" [isActive]="activeButton === 'Education'"></app-simple-button>
      <app-simple-button [buttonText]="'Experience'" (onClick)="setActiveButton('Experience')" [isActive]="activeButton === 'Experience'"></app-simple-button>
      <app-simple-button [buttonText]="'Skills'" (onClick)="setActiveButton('Skills')" [isActive]="activeButton === 'Skills'"></app-simple-button>
      <app-simple-button [buttonText]="'Languages'" (onClick)="setActiveButton('Languages')" [isActive]="activeButton === 'Languages'"></app-simple-button>
      <app-simple-button [buttonText]="'Download CV'" [isOutlined]="true" (onClick)="downloadPDF()"></app-simple-button>
    </div>

    <div class="col-sm">
      <h1 class="about-page-title">{{ activeButton }}</h1>

      <div class="row">
        <div class="col-sm about-description">
          <app-about-text *ngIf="activeButton === 'About'"></app-about-text>
          <app-education *ngIf="activeButton === 'Education'"></app-education>
          <app-experience *ngIf="activeButton === 'Experience'"></app-experience>
          <app-skills *ngIf="activeButton === 'Skills'"></app-skills>
          <app-languages *ngIf="activeButton === 'Languages'"></app-languages>
        </div>
      </div>
    </div>

  </div>
</div>
