
<div class="container">
  <div class="row justify-content-center">

    <div class="col-sm text-center">
      <app-simple-button [buttonText]="'Sobre'" (onClick)="getClickEvent(); setActiveButton('Sobre')" [isActive]="activeButton === 'Sobre'"></app-simple-button>
      <app-simple-button [buttonText]="'Educação'" (onClick)="getClickEvent(); setActiveButton('Educação')" [isActive]="activeButton === 'Educação'"></app-simple-button>
      <app-simple-button [buttonText]="'Experiência'" (onClick)="getClickEvent(); setActiveButton('Experiência')" [isActive]="activeButton === 'Experiência'"></app-simple-button>
      <app-simple-button [buttonText]="'Habilidades'" (onClick)="getClickEvent(); setActiveButton('Habilidades')" [isActive]="activeButton === 'Habilidades'"></app-simple-button>
      <app-simple-button [buttonText]="'Idiomas'" (onClick)="getClickEvent(); setActiveButton('Idiomas')" [isActive]="activeButton === 'Idiomas'"></app-simple-button>
    </div>

    <div class="col-sm">
      <h1 class="about-page-title">{{ activeButton }}</h1>

      <div class="row">
        <div class="col-sm about-description">
          <app-about-text *ngIf="activeButton === 'Sobre'"></app-about-text>
          <app-education *ngIf="activeButton === 'Educação'"></app-education>
          <app-experience *ngIf="activeButton === 'Experiência'"></app-experience>
          <app-skills *ngIf="activeButton === 'Habilidades'"></app-skills>
          <app-languages *ngIf="activeButton === 'Idiomas'"></app-languages>
        </div>
      </div>
    </div>

  </div>
</div>
