$primary-one: #C89B3C;
$primary-two: #C8AA6E;
$primary-three: #F0E6D2;
$primary-dark: #463714;


$secondary-blue-one: #CDFAFA;
$secondary-two: #0397AB;
$secondary-three: #005A82;
$secondary-dark: #091428;


$grey-one: #A09B8C;
$grey-two: #5B5A56;
$grey-three: #3C3C41;
$grey-three: #3C3C41;
$grey-dark: #1E2328;

$dark: #010A13;


$primary-info: #49aab9;
$primary-warn: #c8aa6e;
$primary-danger: #d44242;
$primary-success: #a1d586;


$transparent-dark-background: rgba(0, 0, 0, 0.6);
