$primary-one: #d4f1f4;
$primary-two: #75e6da;
$primary-three: #189ab4;
$primary-dark: #05445e;

$secondary-one: #b1d8b7;
$secondary-two: #94c973;
$secondary-three: #76b947;
$secondary-dark: #2f5233;


$grey-one: #A09B8C;
$grey-two: #5B5A56;
$grey-three: #3C3C41;
$grey-three: #3C3C41;
$grey-dark: #1E2328;

$dark: #010A13;


$primary-info: #49aab9;
$primary-warn: #c8aa6e;
$primary-danger: #d44242;
$primary-success: #a1d586;


$transparent-dark-background: rgba(0, 0, 0, 0.6);
