@use 'custom-theme' as *;

.container-fluid {
  padding: 0;
}

body {
  font-family: 'nunitoSans', Fallback, sans-serif;
  background-color: $secondary-dark;
}

::placeholder {
  font-family: 'nunitoSans', Fallback, sans-serif;
}

@font-face {
  font-family: 'nunitoSans';
  src: url('./assets/fonts/nunitoSans.ttf') format('opentype');
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler:target,
button:focus,
button:active,
button:hover,
button:target,
input:focus,
input:active,
input:hover,
input:target,
textarea:focus,
textarea:active,
textarea:hover,
textarea:target,{
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}
