
/*-----------START GLOBAL APP FONT STYLES-----------*/
body {
  font-family: 'nunitoSans', Fallback, sans-serif;
}

::placeholder {
  font-family: 'nunitoSans', Fallback, sans-serif;
}

@font-face {
  font-family: 'nunitoSans';
  src: url('./assets/fonts/nunitoSans.ttf') format('opentype');
}
/*-----------END GLOBAL APP FONT STYLES-----------*/
